<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="filefriendly.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<system.diagnostics>
		<sources>
			<!-- This section defines the logging configuration for My.Application.Log -->
			<source name="DefaultSource" switchName="DefaultSwitch">
				<listeners>
					<add name="FileLog"/>
					<!-- Uncomment the below section to write to the Application Event Log -->
					<!--<add name="EventLog"/>-->
				</listeners>
			</source>
		</sources>
		<switches>
			<add name="DefaultSwitch" value="Information"/>
		</switches>
		<sharedListeners>
			<add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
			<!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
			<!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
		</sharedListeners>
	</system.diagnostics>
	<runtime>
		<generatePublisherEvidence enabled="false"/>
	</runtime>
	<userSettings>
		<filefriendly.MySettings>
   <setting name="ScanInbox" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ScanSent" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ScanAll" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="StartDocked" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="DockRight" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="DockLeft" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ConfirmFile" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ConfirmDelete" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ConfirmUndo" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ConfirmExit" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="SoundDocking" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="SoundAlert" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ConfirmOpen" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ConfirmHide" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="WhenSent" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="WhenReceived" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="SoundScanComplete" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="UpgradeNotify" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="MainWidth" serializeAs="String">
    <value>800</value>
   </setting>
   <setting name="MainHeight" serializeAs="String">
    <value>600</value>
   </setting>
   <setting name="FoldersWidth" serializeAs="String">
    <value>550</value>
   </setting>
   <setting name="FoldersHeight" serializeAs="String">
    <value>760</value>
   </setting>
   <setting name="MainTop" serializeAs="String">
    <value>100</value>
   </setting>
   <setting name="MainLeft" serializeAs="String">
    <value>555</value>
   </setting>
   <setting name="FoldersTop" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="FoldersLeft" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="FirstRun" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="RatioOfRecommendationToProcessingTime" serializeAs="String">
    <value>0.165</value>
   </setting>
   <setting name="ApplicationVersion" serializeAs="String">
    <value>1.2.0.0</value>
   </setting>
   <setting name="Registered" serializeAs="String">
    <value>Trial</value>
   </setting>
   <setting name="Licensing" serializeAs="String">
    <value>Not Yet</value>
   </setting>
   <setting name="NextUpgradeCheckDate" serializeAs="String">
    <value />
   </setting>
   <setting name="ScreenWidth" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="ScreenHeight" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="AutoChainSelect" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ConfirmToggle" serializeAs="String">
    <value>False</value>
   </setting>
  </filefriendly.MySettings>
	</userSettings>
	<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
